.media{
    display: flex;
    flex-direction: row;
    @media (min-width: $large-up) {
        flex-direction: column;
    }
    &.img-left{
        flex-direction: row;
    }
    .img > .icon{
        font-size: 3rem;
        display: block;
        width: 1em;
        height: 1em;
        line-height: 1;
    }
    .img{
        img{
            width: 4.5rem;
            height: 4.5rem;
        }
    }
    h4{
        font-size: 1rem;
    }
}

.media-article-title{
    flex-direction: row;
    @media (min-width: $large-up) {
        flex-direction: row;
    }
    .media-image{
        // flex: 0 0 auto;
    }
    .media-body{
        // flex: 1 1 auto;
        overflow: hidden;
        .media-title{
            font-size: 1rem;
        }
        p{
            font-size: 0.75rem;
        }
    }
}
/* media service */
.media-service{
    position: relative;
    display: block;
    padding: 2.75rem;
    color: currentColor;
    text-align: center;
    &:before{
        z-index: -1;
        position: absolute;
        content: "";
        top: 8px;
        bottom: 8px;
        left: 0;
        right: 0;
        border: 1px solid currentColor;
        opacity: 0.2;
        border-left: none;
        border-right: none;
        transition: 0.3s;
        @media (min-width: $large-up) {
            @include pos-size(0.75rem);
        }
    }
    &:after{
        z-index: -1;
        @include pos-size(0.75rem);
        border: 1px solid currentColor;
        opacity: 0;
        transition: 0.3s;
    }
    &:hover{
        color: currentColor;
        text-decoration: none;
        &:before{
            opacity: 1;
        }
        &:after{
            opacity: 0.2;
            @include pos-size(1.75rem);
        }
    }
    h4{
        font-family: $condensed;
        font-size: 2.5rem;
        font-weight: bold;
        text-transform: uppercase;
    }
    .img{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        text-align: center;
        .icon{
            font-size: 8rem;
            opacity: 0.1;
        }
    }
}

/* media product*/
.media-product{
    .media-img{
        position: relative;
        img{
            width: 100%;
            position: relative;
            z-index: 0;
            @include shadow-medium();
        }
        .img-wrapper,
        a{
            position: relative;
            display: block;
            &:after{
                z-index: 1;
                @include pos-size(0rem);
                border: 1px solid rgba($white, 0.2);
                opacity: 0;
                transition: 0.3s;
            }
            &:hover{
                &:after{
                    opacity: 1;
                    @include pos-size(0.75rem);
                }
            }
        }
    }
    &:hover{
        .media-img{
            .img-wrapper,
            a{
                &:after{
                    opacity: 1;
                    @include pos-size(0.75rem);
                }
            }
        }
    }
    .media-body{
        .header,
        header{
            margin-top: 1rem;
            margin-bottom: 0.5rem;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            // flex-wrap: wrap;
            flex-wrap: nowrap;
        }
        .title, .price{
            font-family: $condensed;
            font-size: 2rem;
            margin: 0;
            line-height: 1;
            color: $white;
        }
        .title{
            text-align: left;
            font-weight: bold;
            // width: 80%;
        }
        .price{
            text-align: right;
            font-weight: 300;
            // width: 20%;
        }
        a{
            color:$white;
            &:hover{
                text-decoration: none;
            }
        }
    }
}

/* media line */
.media-line{
    position: relative;
    .media-img{
        z-index: 0;
        @include pos-size(0rem);
        @include shadow-large;
        .img{
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }
    .media-body{
        position: relative;
        padding: 1.5rem;
        @media (min-width: $large-up){
            padding: 48px 48px*3;
        }
    }
}

.media-post{
    position: relative;
    .media-img{
        z-index: 0;
        @include pos-size(0.75rem);
        @include shadow-large;
        .img{
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }
    .media-body{
        position: relative;
        padding: 1.5rem;
        .display-title{
            text-transform: none;
            font-size: 2.5rem;
        }
        @media (min-width: $large-up){
            padding: 48px 48px;
        }
    }
}