.row-product{
    margin-top: 32px;
    margin-bottom: 32px;
    @media screen and (min-width:$large-up){
        margin-top: 128px;
        margin-bottom: 128px;
    }
    .side-left{
        .content-wrapper{
            @media screen and (min-width:$large-up){
                margin-right: 0;
                padding-right: 64px;
            }
        }
    }
    .side-right{
        .content-wrapper{
            @media screen and (min-width:$large-up){
                margin-left: 0;
                padding-left: 64px;
            }
        }
    }
    .img-frame-normal{
        margin-bottom: 32px;
        @media screen and (min-width:$large-up){
            margin-bottom: 0;
        }
    }
}